*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow-x: hidden;
}

.wrapper{
    width: 100%;
    height: 50px;
    padding: 1%;
    position: relative;
}

.Header-Logo{
    position: absolute;
    left: 5%;
    top: calc(50px*.35);
    width: 150px;
    height: 25px;
}

.btn{
   border: none;
   height: 50px;
   width: 175px;
   background: linear-gradient(117deg,hsl(136, 65%, 51%)0%,hsl(192, 70%, 51%)100%);
   color: white;
   font-size: 0.9rem;
   cursor: pointer;
   border-radius: 25px;
}

.btn:hover{
   background: hsl(192, 70%, 80%);
   background: linear-gradient(117deg, hsl(136, 65%, 80%)0%, hsl(192, 70%, 80%)100%);
}



.body-Container{
   width: 100%;
   margin: 0, 0, 5%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: url(images/bg-intro-mobile.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position-y: top -50px;
   overflow: hidden;
}

.bodyImage{
   width: 99%;
   margin: 0 1%;
   position: relative;
   top: -140px;
}
.body-Container-Content{ 
   padding: 5%;
   margin: 40% 0 0;
   text-align: center;
}
.body-Header{
   margin: 0 0 5%;
   font-size: 2rem;
   color: hsl(233, 26%, 24%);
   text-align: center;
}

.body-Paragraph{
   margin: 0 0 10%;
   color: hsl(233, 8%, 62%);
   font-size: 0.8rem;
   line-height: 1.25rem;
}
/* .btn{} */


/* Incase of incasity */
.header-toggle-btn{
    height: 30px;
    aspect-ratio: 1/1;
    top: calc(50px*.3);
    right: 8%;
    border: none;
    position: absolute;
    cursor: pointer;
}

.header-toggle-btn-hamburger{
   background: url(/images/icon-hamburger.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.header-toggle-btn-x{
   background: url(/images/icon-close.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.secondContainer{
   position: fixed;
   top: calc(50px + 7px);
   left: 0;
   height: 100vh;
   width: 100vw;
   z-index: 1;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   background-color:hsl(233, 26%, 24% 0.5);
   overflow: hidden;
}

.second-container-mobile{ display:none;}

.Nav-Header-mobile{
    width: 90%;
    height: 250px;
    border-radius: 5px;
    position: relative;
    top: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: red;
}

.Nav-Header-List-mobile{
   height: 100%;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   align-items:  center;

}

.Nav-Header-List-Item-mobile{
   list-style: none;
}

.Nav-Header-Link-mobile{
    color: hsl(233, 26%, 24%);
    text-decoration: none;
}








.Nav-Header{ display: none;}
.nav-btn{ display: none;}
/* Ending */

@media screen and (min-width: 439px) {

   .body-Container-Content{ margin: -20% 0 0;}
}








@media screen and (min-width: 992px){
  
    .header-toggle-btn{ display: none;}
    .secondContainer { display: none;}



 .wrapper{
    padding: 0;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
 }

 .Header-Logo{
    position: initial;
    width: 160px;
 }

 .Nav-Header{
    width: clamp(500px, 50%, 500px);
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-self: stretch;
 }

 .Nav-Header-List{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
 }

 .Nav-Header-List-Item{
  list-style: none;
  align-self: stretch;
  position: relative;
 }

 .Nav-Header-Link{
    height: 100%;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    cursor: pointer;
 }

 .Nav-Header-Link:hover::before{
   content: "";
   width: 100%;
   height: 3px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: -1;
   background: linear-gradient(117deg, hsl(136, 65%, 51%)0%, hsl(192, 70%, 51%)100%);
 }

 .btn{ scale: 0,9 }

 .nav-btn{ display: inline;}

 .btn:hover::after{
   position: relative;
   top: 0;
   left: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
 }

 .body-Container{
   display: flex;
   flex-flow: row-reverse nowrap;
   background-color:hsl(0, 0%, 98%);
   background: url(images/bg-intro-desktop.svg);
   background-size: 90%;
   background-position-y: top -25vh;
   background-position-x: right -30vh;
   /* background-position: right calc(-30vh) top calc(-25vh); */
   margin: 0 0 5%;
 }

  .bodyImage{
   scale: 1.15;
   position: relative;
   top: -5vh;
   right: -5%;
  }

  .body-Container-Content{
   margin-top: 10vh;
   align-items: stretch;
   margin-left: 5%;
  }

 .body-Header{
  text-align: left;
  font-size: 2.7rem;
 }

 .body-Paragraph{
   width: 80%;
   font-size: 1rem;
   font-weight: normal;
 }


}





@media screen and (min-width: 1200px){

   .body-Header{
      font-size: 3rem;
   }
   
}