*{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

body{
   font-family: "Public Sans", sans-serif;
}

.wrapper{
   width: 100%;
   height: 50px;
   padding: 1%;
   position: relative;
}

.Header-Logo{
   position: absolute;
   left: 5%;
   top: calc(50px*.35);
   width: 150px;
   height: 25px;
}

.btn{
   border: none;
   height: 50px;
   width: 175px;
   background: linear-gradient(117deg,hsl(136, 65%, 51%)0%,hsl(192, 70%, 51%)100%);
   color: white;
   font-size: 0.9rem;
   cursor: pointer;
   border-radius: 25px;
}

.btn:hover{
   background: hsl(192, 70%, 80%);
   background: linear-gradient(117deg, hsl(136, 65%, 80%)0%, hsl(192, 70%, 80%)100%);
}

.body-Container{
   width: 100%;
   margin: 0, 0, 5%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: url(images/bg-intro-mobile.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position-y: top -50px;
   overflow: hidden;
}

.bodyImage{
   width: 99%;
   margin: 0 1%;
   position: relative;
   top: -140px;
}
.body-Container-Content{ 
   padding: 5%;
   margin: 40% 0 0;
   text-align: center;
}
.body-Header{
   margin: 0 0 5%;
   font-size: 2rem;
   color: hsl(233, 26%, 24%);
   text-align: center;
}

.body-Paragraph{
   margin: 0 0 10%;
   color: hsl(233, 8%, 62%);
   font-size: 0.8rem;
   line-height: 1.25rem;
}

.features{
   width: 80%;
   padding: 15% 10% 10%;
   display: flex;
   flex-direction: column;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   align-items: center;
   background-color: hsl(0, 0%, 98%);
}

.feature-content{
   align-items: center;
}

.feature-header{
   margin: 0 0 5%;
   font-size: 2rem;
   font-weight: 400;
   color: hsl(233, 26%, 24%);
}

.feature-paragraph{
   margin: 0 0 10%;
   font-weight: 400;
   line-height: 1.25rem;
   color: hsl(0, 6%, 54%);
}

.features-content-cards{
   min-height: 275px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   align-items: center;
}   

.feature-content-header{
   font-size: 1.3rem;
   font-weight: 400;
   color: hsl(233, 26%, 24%);
}

.feature-content-text{
   color: hsl(233, 8%, 62%);
   font-size: 0.8rem;
   text-align: center;
   line-height: 1.25rem;
}

.articles-section{
   padding: 15% 8% 10%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   align-items: center;
   background-color: #fff;
}

.article-header{
   font-size: 2rem;
   font-weight: 400;
   color: hsl(233, 26%, 24%);
}
.articles-image{
   margin: 8% 0;
   border-radius: 5px;
}

.article-image-img{
   width: 100%;
   border-radius: 5px 5px 0 0;
}

.article-image-content{
   padding: 10%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   background-color: #fff;
}

.article-writer{
   margin: 0 0 5%;
   font-size: 0.7rem;
   font-weight: 400;
   color: hsl(233, 8%, 62%);
}

.article-header-two{
   margin: 0 0 5%;
   font-size: 0.8em;
   color: hsl(233, 26%, 24%);
   font-weight: 400;
}

.article-text{
  font-style: 0.7rem;
  color: hsl(233, 8%, 62%);
  font-weight: 400;
}
/* For the mobile version of my project and really affecting my desktop version */
/* footer{
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   background-color: hsl(233, 26%, 24%);
   color: #dfd8d8;
   padding: 5% 0; 
   justify-content: center; 
   align-items: flex-start; 
   text-align: center;
}

.footer-section{
 width: 80%; 
 padding: 5%;
 justify-content: flex-start;
}


.social{
  margin: 9%  15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  list-style: none;
}

.footer-nav-list{
  min-height: 235px;
  display: grid;
  margin-top: -2rem;
  margin-bottom: 2rem;
  align-items: center;
  margin-left: -2rem;
  font-weight: 400;
}

.footer-nav-list-link{
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}

.footer-copyright{
  display: grid;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.footer-copyright-two{
  margin-left: -1rem;
} */



/* Just in case */
.header-toggle-btn{
   height: 30px;
   aspect-ratio: 1/1;
   top: calc(50px*.3);
   right: 8%;
   border: none;
   position: absolute;
   cursor: pointer;
}

.header-toggle-btn-hamburger{
   background: url(images/icon-hamburger.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.header-toggle-btn-x{
   background: url(images/icon-close.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.secondContainer{
   position: fixed;
   top: calc(50px + 7px);
   left: 0;
   height: 100vh;
   width: 100vw;
   z-index: 1;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   background-color:hsl(233, 26%, 24% 0.5);
   overflow: hidden;
}

.second-container-mobile{ display:none;}

.Nav-Header-mobile{
   width: 90%;
   height: 250px;
   border-radius: 5px;
   position: relative;
   top: 5%;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   background: darkgray;
   cursor: pointer;
}

.Nav-Header-List-mobile{
   height: 100%;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   align-items:  center;
   cursor: pointer;
}

.Nav-Header-List-Item-mobile{
   list-style: none;
}

.Nav-Header-Link-mobile{
   color: hsl(233, 26%, 24%);
   text-decoration: none;
}

.Nav-Header{ display: none;}
.nav-btn{ display: none;}

/* Ending */




@media screen and (min-width: 429px) {

.body-Container-Content{ margin: -20% 0 0;}
.feature-paragraph{ font-size: 1rem; }
.feature-content-header{ font-size: 1.5rem;}
.feature-content-text{ font-size: 1rem;}
.article-writer{ font-size: 0.85rem;}
.article-header{ font-size: 1.1rem;}
.article-text{ font-size: 0.9rem;}
.footer-nav-list-item{ font-size: 1rem;}
}


@media screen and (min-width: 992px){
  
.header-toggle-btn{ display: none;}
.secondContainer { display: none;}
footer{display: none;}
.footer-section{ display: none;}
.social{ display: none;}
.footer-nav-list{ display: none;}
.footer-nav-list-link{ display: none;}

 .wrapper{
   padding: 0;
   height: 90px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-evenly;
   align-items: center;
 }

 .Header-Logo{
   position: initial;
   width: 160px;
 }

 .Nav-Header{
   width: clamp(500px, 50%, 500px);
   display: flex;
   justify-content: space-evenly;
   align-items: stretch;
   align-self: stretch;
 }

 .Nav-Header-List{
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-evenly;
   cursor: pointer;
 }

 .Nav-Header-List-Item{
   list-style: none;
   align-self: stretch;
   position: relative;
 }

 .Nav-Header-Link{
   height: 100%;
   text-decoration: none;
   color: hsl(233, 8%, 62%);
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
 }

 .Nav-Header-Link:hover::before{
   content: "";
   width: 100%;
   height: 3px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: -1;
   background: linear-gradient(117deg, hsl(136, 65%, 51%)0%, hsl(192, 70%, 51%)100%);
 }

 .btn{ scale: 0,9 }

 .nav-btn{ display: inline;}

 .btn:hover::after{
   position: relative;
   top: 0;
   left: 0;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
 }

 .body-Container{
   display: flex;
   flex-flow: row-reverse nowrap;
   background-color:hsl(0, 0%, 98%);
   background: url(images/bg-intro-desktop.svg) no-repeat right center;
   background-size: contain;
   background-position: right top;
   margin: 0 0 6%;
 }

  .bodyImage{
   scale: 1.15;
   position: relative;
   top: -5vh;
   right: -5%;
  }

  .body-Container-Content{
   margin-top: 10vh;
   align-items: stretch;
   margin-left: 5%;
  }

 .body-Header{
  text-align: left;
  font-size: 2.7rem;
  color: hsl(0, 0%, 98%);
 }

 .body-Paragraph{
   width: 80%;
   font-size: 1rem;
   font-weight: normal;
 }

  .features{
   width: 90%;
   margin: -15% 0 0;
   padding: 7% 10%;
   flex-flow: row wrap;
   justify-content: flex-start;
   background-color:  hsl(220, 16%, 96%);
  }

  .feature-content{
   display: flex;
   flex-flow:column nowrap ;
   justify-content: flex-start;
   align-items: flex-start;
  }

  .feature-content-cards{
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   gap: 20px
  }

  .features-content-cards{
   width: 20%;
   margin: 0 1;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: flex-start;
  }

  .feature-content-header, .feature-content-text{
   text-align: left;
  }

  .feature-content-text{ 
   font-size: 0.9rem;
   line-height: 1.5rem;
   width: 93%;
  }
 
  .articles-section{
   padding: 5% 8%;
   flex-flow: row wrap;
   justify-content: flex-start;
  }
   
  .article-header{
   text-align: left;
   width: 100%;
  }

  .articles-image{
   width: 250px;
   margin: 5% auto 5% 0;
  }
  .article-image-content{
   background-color: hsl(0, 0%, 98%);
   margin-top: -0.5rem;
  }

  .article-image-img{
   height: 180px;
   width: 100%;
  }

  .article-writer{
   font-size: 0.65rem;

  }

  .article-header-two{
   font-size: 0.85rem;
   line-height: 1.15rem;
  }

  .article-header-two:hover{
   cursor: pointer;
   color: hsl(136, 65%, 51%);
  }

 
  .article-text{
   font-size: 0.67rem;
   line-height: 1.08rem;
  }

  footer {
   display: flex;
   gap: 4rem;
   padding-top: 3rem;
   padding-bottom: 2rem;
   background-color:   hsl(233, 26%, 24%);
   width: 100%;
}

.footer-logo{
   margin-bottom: 2rem; 
}

.footer-section {
   gap: 2rem;
   margin-left: 6rem;
}

.social {
   display: flex;
   gap: 0.6rem;
   width: 100%;
}

.footer-nav{
   margin-left: 6rem;
   margin-right: 15rem;
   display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footer-nav-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 1.2rem; 
   column-gap: 5rem;
   font-size: 1rem ;
   list-style: none;
   padding: 0;
   margin: 0; 
}

.footer-nav-list-link {
   text-decoration: none;
   color: white; 
   cursor: pointer;
}

.footer-nav-list-link:hover{
   color: hsl(136, 65%, 51%);
}

.social:hover{
   color: hsl(136, 65%, 51%);
}

.footer-btn{
   margin-bottom: 1.3rem;
}

.footer-copyright{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.footer-copyright-two{
   color: white;
   margin: 0;
   flex-grow: 1;
   text-align: right;
}

}





@media screen and (min-width: 1200px){

   .body-Header{
      font-size: 3rem;
   }
   

}